@{
    ViewBag.Title = "saavyTech Home";
}

<div class="">
    <h1 class=" text-center">Welcome to <i><span style="color:#ffffff">saavyTech</span> Help Desk</i></h1>
    <p class="lead">.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Unified Communication</h2>
        <p>
            We ensure easy internal and external communications across multiple platforms and devices while minimizing costs and system interruptions.
        </p>

    </div>
    <div class="col-md-4">
        <h2>Cloud Services</h2>
        saavyTech recognized early that the phenomenal growth in the adoption of Cloud computing globally will eventually happen in Jamaica and the Caribbean.
    </div>
    <div class="col-md-4">
        <h2>24/7 Customer Support</h2>
        When your helpdesk is on the cloud, you can support your customers without being chained to your desk.
    </div>
</div>


<!-- Button trigger modal -->
<div class=" text-center">
    <br />
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
    Meat The Team >>
</button>
    </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Group Members</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Shari Rattigan <br />
                Barrington Rochester<br />
                Wayne Thomas <br />
                Cecil Davis <br />
                Dermain Creary
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                
            </div>
        </div>
    </div>
</div>